.flex {
  display: flex;
}

.grid {
  display: grid;
}

.page-body {
  margin-left: 5rem;
  margin-right: 5rem;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  border-style: solid;
}